# Porta de execução do Master Control Plane
MASTER_PORT=8090

# Segredo criptográfico do Master
MASTER_JWT_SECRET=sua-chave-super-secreta-mestre-aqui-2026

# Informações de suporte exibidas nas telas de bloqueio dos clientes
SUPPORT_CONTACT_PHONE=(11) 98765-4321
SUPPORT_CONTACT_EMAIL=comercial@soltelecom.com.br
